/**

Mini Profile Template

https://templatemo.com/tm-530-mini-profile


Color Codes
------------
brown: #986665;
green: #98cb00;
orange: #cc6733;
blue: #3398cc;
dark-gray: #676767;
light-gray: #999999;
text-gray: #6b6b6b;

*/

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #6b6b6b;
  overflow-x: hidden;
}

a,
button {
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  max-width: 1200px;
}

.tm-bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.tm-bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.8);
}

.tm-bg-green {
  background-color: #98cb00;
}

.tm-bg-orange {
  background-color: #cc6733;
}

.tm-bg-blue {
  background-color: #3398cc;
}

.tm-bg-dark-gray {
  background-color: #676767;
}

/*
  Welcome section
*/
#tmWelcome {
  position: relative;
  display: flex;
  align-items: center;
}

.tm-brand-container-outer {
  margin-top: -400px;
}

.tm-brand-container-inner {
  max-width: 580px;
  width: 100%;
}

.tm-brand-container {
  padding: 75px 110px;
}

.tm-brand-name {
  font-size: 3.8rem;
}

.tm-brand-description {
  font-size: 1.4rem;
}

.parallax-window {
  min-height: 1100px;
  background: transparent;
}

.parallax-window2 {
  /* min-height: 400px; */
  /* background: solid; */
  height: 600px;
  background-color: #cbdae2;
}

#tmContact {
  min-height: 1197px;
}

.tm-welcome-container {
  min-height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.tm-welcome-title {
  margin-bottom: 40px;
}

.tm-welcome-left {
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: black;
}

.tm-welcome-left-col {
  display: flex;
  align-items: center;
  line-height: 2.5em;
}

.tm-welcome-right {
  color: white;
  background-color: #ffffff00;
  /* border-width: 680px; */
  /* border-color: black; */
  padding: 0px 0px 0px;
  height: 100%;
}

.tm-welcome-icon {
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

/*
  Portfolio section
*/

.head {
  /* padding-top: 20px; */
  padding-bottom: 30px;
  font-weight: 5000;
}
.head2 {
  /* padding-top: 20px; */
  padding-bottom: 40px;
  font-weight: 5000;
  font-size: 1000em;
}
.head3 {
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 5000;
  font-size: 1000em;
  /* text-align: center; */
}
#tmPortfolio {
  padding-top: 80px;
}

.tm-portfolio-item {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.tm-portfolio-name {
  width: 330px;
  height: 220px;
  font-size: 2rem;
  padding: 70px 95px;
  display: flex;
  align-items: center;
  text-align: center;
}

.tm-portfolio-description {
  width: calc(100% - 330px);
  padding: 20px 45px;
}

.tm-portfolio-description h3 {
  margin-bottom: 20px;
}

.tm-text-green {
  color: #98cb00;
}


.tm-text-black {
  color: #000000;
  font-size: 20px;
}

.tm-text-black2 {
  color: #000000;
  font-size: 35px;
}

.tm-text-orange {
  color: #cc6733;
}

.tm-text-blue {
  color: #3398cc;
}

.tm-text-dark-gray {
  color: #676767;
}

.tm-title-small {
  font-size: 1.3rem;
}

p {
  line-height: 1.8;
}

/*
  Contact section
*/

#tmContact {
  padding-top: 95px;
}

.tm-contact-item {
  width: 33.3334%;
  max-width: 345px;
  height: auto;
  min-height: 420px;
  margin-right: 35px;
  /* background: transparent; */
  background-color: white;
  padding: 54px 34px 44px;
}

.tm-contact-item:last-child {
  margin-right: 375px;
}

.tm-contact-item2 {
  width: 45%;
  max-width: 2000px;
  height: auto;
  min-height: 420px;
  margin-right: 35px;
  background-color: white;
  padding: 54px 34px 44px;
}

.tm-contact-item2:last-child {
  margin-right: 0px;
}

.text3 {
  font-size: 20px;
}

.tm-contact-item3 {
  width: 33%;
  max-width: 2000px;
  height: auto;
  /* min-height: 420px; */
  margin-right: 35px;
  background: transparent;
  /* background-color: white; */
  padding: 54px 34px 44px;
}

.tm-contact-item3:last-child {
  margin-right: 0px;
}


.tm-contact-items-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

.tm-contact-item-icon {
  margin-bottom: 45px;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tmContactForm {
  width: 100%;
  max-width: 750px;
  padding: 45px 45px 30px;
  margin-bottom: 95px;
}
#tmContactForm2 {
  width: 100%;
  max-width: 750px;
  padding: 45px 45px 30px;
  margin-bottom: 95px;
  line-height: 2em;
}


.form-group {
  max-width: 1000px;
}
.form-group2 {
  max-width: 1000px;
}
.form-control {
  background: transparent;
  border-color: #999999;
  padding: 15px 10px;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.tm-btn-submit {
  background-color: #999999;
  padding: 12px 30px;
  font-size: 1.2rem;
}

.tm-btn-submit:focus,
.tm-btn-submit:hover {
  background-color: #676767;
}

.tm-copyright-text {
  margin-bottom: 30px;
}

.tm-link {
  color: #676767;
}

@media (max-width: 1054px) {
  .tm-contact-item-icon {
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .tm-contact-items-container {
    flex-direction: column;
  }

  .tm-contact-item {
    width: auto;
    max-width: 680px;
    min-height: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .tm-contact-item:last-child {
    margin-right: auto;
    margin-bottom: 0;
  }

  #tmContactForm {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 730px) {
  .tm-portfolio-item {
    flex-direction: column;
  }

  .tm-portfolio-name {
    justify-content: center;
  }

  .tm-portfolio-name,
  .tm-portfolio-description {
    width: 100%;
  }

  .tm-portfolio-description {
    padding: 20px 30px;
  }
}
/* The sidebar menu */
.sidenav {
  height: 100%; /*Full-height: remove this if you want "auto" height
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 999; /* Stay on top */
  top: 0; /*Stay at the top */
  left: 0;
  bottom:0;
  background: transparent;
  /* background-color: #111 Black */
  overflow-x: hidden; /* Disable horizontal scroll8*/
  overflow-y:auto;
  /* padding-top: ; */
  /* vertical-align: center; */
  display: flex;
  align-items: center;
}

/* The navigation menu links */
.sidenav a {
  /* margin-top: 240px; */
  padding: 20px 20px 6px 16px;
  text-decoration: none;
  font-size: 60px;
  color: #818181;
  display: block;
}
.list-icon{
  list-style-type: none;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  /* margin-top: 240px; */
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 10px 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media (max-width: 572px) {
  .tm-brand-container {
    padding: 45px;
  }
}

@media (max-width: 443px) {
  .tm-brand-name {
    font-size: 3rem;
  }

  .tm-brand-container {
    padding: 25px;
  }
}
